body {
    background: #E0E0E0;
  }
  
  #formContainer {
    max-width:100%;
    display: flex;
    justify-content: space-between;
    width:100%;
    margin:0 auto;
    position:relative;
    background-image: url(https://i.imgur.com/KMVSJei.png);
  }
  
  #form-ficha {
    min-height: 825px;
    max-width: 32em;
    background:#252525;
    padding: 3.1em;
    margin:1em;
    border-style: solid;
    border-color: #383851;
    border-width: 1px;
    border-radius: 5px
   /* Box Shadow */
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
  }

  #snippet-ficha {
    max-width: 32em;
    font-size: 0.5em;
  }

  #infos-importantes {
    width: 100%;
  }

  #header {
    text-align: center;
  }

  #header p {
    margin: 0;
  }

  #infos-importantes p {
    color: #252525;
  }
  
  h1 {
    color: #c1242f;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
  }

  .titulo-akatsuki {
    font-family: 'rubik';
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin: .1em;
    letter-spacing: -6px;
    color: black;
    text-transform: uppercase;
  }


  
  p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
      color: #d8d8d8;
      padding-bottom: 0.25em;
  }
  
  #title {
    padding-bottom: 0.2em;
    margin: 0;
  }
  
  #description {
    padding-top: 0.25em;
    margin-top: 0;
    
  }
  
  label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #c4c4c5;  
  }
  
  input, select, textarea {
    width: 100%; 
    border: 0;
    height: 2.25em;
    margin-top: 0.6em;
    margin-bottom: 1.6em;
    padding: 0 0.6em 0 0.6em;
  }
  
  
  .placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #5d646e;
  }
  
  textarea {
    height: 6em;
  }
  
  /* Style to offset for the extra padding */
  
  input, textarea {
     width: calc(100% - 1.2em);
    }
  
  hr {
    border: 0;
    height: 1px;
    background-color: #383851;
    margin: 1.1em 0 2em 0;
  }
  
  /* Radio Buttons */
  
  #radio-container, #checkbox-container {
    padding-top: 1em;
    text-align: center;
  }
  
  #labelgroup, #radiogroup {
    width: 6.2em;
    padding-bottom: 0.8em;
    text-align: center;
  }
  
    
  #radio-input, #checkbox-input {
    width: auto;
    height: auto;
    -ms-transform: scale(1.5); /* Radio button scale IE */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  
    }
  
  #radio-label, #checkbox-label {
    display: block;
  }
  
  /* select all span items inside container  */
  #radio-container > span {
    white-space: nowrap;
    display: inline-block;
  }
  
  #checkbox-container > span {
    white-space: nowrap;
    display: inline-block;
  }
  
  #nowrap {
    white-space: nowrap;
    display: inline-block;
  }
  
  .selector-group {
    padding-bottom: 0.9em;
  }
  
  textarea {
    padding-top: 0.5em;
  }
  
  
  /* Form steps */

  /* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.tipTabs {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #912323;
}

  /* Botão de enviar */
.button {
  border: 2px solid #c1242f;
  background-color: transparent;
  outline:0;
  transition: background-color 0.3s ease;
  color: #fff;

}

.button:hover {
  background-color:#c1242f;
}

  
/*dicas*/
#primeiraDica, #segundaDica, #terceiraDica, #quartaDica {
  margin: 0 2em;
  text-align: justify;
  justify-content: center;
}

.subtitulo {
  font-family: 'rubik';
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: .1em;
  color: black;
  text-transform: uppercase;
}


#segundaDica img {
  border: 7px solid #c1242f;
  max-width: 100px;
  max-height: 100px;
}

.hidden-arquetipo{
  display: none;
  font-size: 0.9em;
}

.hidden-arquetipo p{
  margin-left: 10px;
}

#descricao-Neutro {
  display:none;
}

#descricao-Herói {
  display:none;
}

#descricao-Anti-herói {
  display:none;
}