body {
    background: #E0E0E0;
  }
  
  #formContainer {
    max-width:100%;
    display: flex;
    justify-content: space-between;
    width:100%;
    margin:0 auto;
    position:relative;
    background-image: url(https://i.imgur.com/KMVSJei.png);
  }
  
  #form-ficha {
    position: relative;
    min-height: 825px;
    min-width: 438px;
    max-width: 32em;
    max-height: 825px;
    background:#252525;
    padding: 3.1em;
    margin:1em;
    border-style: solid;
    border-color: #383851;
    border-width: 1px;
    border-radius: 5px
   /* Box Shadow */
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
  }

  #passos {
    max-height: 700px;
    overflow-y: auto;
  }


  #infos-importantes {
    width: 100%;
    text-align: justify;
  }

  #header {
    text-align: center;
  }

  #header p {
    margin: 0;
  }

  #infos-importantes p {
    color: #252525;
  }
  
  h1 {
    color: #f8f8f8;
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
  }

  .titulo-akatsuki {
    font-family: 'rubik';
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin: .1em;
    letter-spacing: -6px;
    color: black;
    text-transform: uppercase;
  }

  
  p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
      color: #d8d8d8;
      padding-bottom: 0.25em;
  }
  
  #title {
    padding-bottom: 0.2em;
    margin: 0;
  }
  
  #description {
    padding-top: 0.25em;
    margin-top: 0;
    
  }
  
  label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #c4c4c5;  
  }
  
  input, select, textarea {
    width: 100%; 
    border: 0;
    height: 2.25em;
    margin-top: 0.6em;
    margin-bottom: 1.6em;
    padding: 0 0.6em 0 0.6em;
  }
  
  
  .placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #5d646e;
  }
  
  textarea {
    height: 6em;
  }
  
  /* Style to offset for the extra padding */
  
  input, textarea {
     width: calc(100% - 1.2em);
    }
  
  hr {
    border: 0;
    height: 1px;
    background-color: #383851;
    margin: 1.1em 0 1em 0;
  }
  

/*Qualidades e defeitos*/

.secao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  transition: height 0.2s ease-out;
  max-height: 0;
}

.qualidades-defeitos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qualidades-defeitos button {
  margin: 3px;
  background-color: grey;
  font-size: 0.9em;
  padding: 9px;
  border-radius: 5px;
  border-style: none;
  color: #f8f8f8;
  outline: none;
}

.qualidades-defeitos button:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    filter: brightness(1.2);
}

.qualidade-escolhida {
  background-color:#c1242f!important;
}

.defeito-escolhido {
  background-color:#c1242f!important;
}

.sanfona {
  margin: 3px 0;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.sanfona-ativa, .sanfona:hover {
  background-color: #ccc;
}

.sanfona:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.sanfona-ativa:after {
  content: "\2212";
}

  
/*Passos do formulário*/


/* Destacar os campos que não foram preenchidos/não foram preenchidos automaticamente: */
input.invalido {
  background-color: #ffdddd;
}

/* Esconder tudo desde o princípio: */
.tab {
  display: none;
  margin-right: 15px;
}

.tipTabs {
  display: none;
  margin-right: 10px;
}

/* Cícrulos do indicador de passos: */
.circulo {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Destacar o círculo do passo atual: */
.circulo.ativo {
  opacity: 1;
}

/* Destacar todos os passos feitos: */
.circulo.finalizado {
  background-color: #912323;
}


/* Navegação */
.button {
  border: 2px solid #c1242f;
  background-color: transparent;
  outline:0;
  transition: background-color 0.3s ease;
  color: #fff;

}

.button:hover {
  background-color:#c1242f;
}


#botoes-navegacao {
  position: absolute;
  bottom: 45px;
  right: 50px;
}

#circulos-navegacao {
  position: absolute;
  bottom: 45px;
}

  
/*dicas*/
#dicas {
  max-height: 800px;
  overflow-y: auto;
  margin: 0 2em;
  justify-content: center;
}


.subtitulo {
  font-family: 'rubik';
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: .1em;
  color: black;
  text-transform: uppercase;
}

.branco {
  color: #f8f8f8;
}


#segundaDica img {
  border: 7px solid #c1242f;
  max-width: 100px;
  max-height: 100px;
}

.hidden-arquetipo{
  display: none;
  font-size: 0.9em;
}

.hidden-arquetipo p{
  margin-left: 10px;
}

#fim {
  display: none;

}


/* Barra de Scroll */
::-webkit-scrollbar {
  background-color:  #d6d6d6;
  height: 15px;
  border: px solid #555;
  width: 9px;
  opacity: 0.5;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #c1242f;
  width: 7px;
  border: px solid #555;
  opacity: 1;
  transition: 0.5s;
  }