* { padding: 0; margin: 0;}
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

body {
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.imgur.com/KMVSJei.png);
  }
  
  #formContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 576px;
    min-width: 576px;
    margin:0 auto;
    position:relative;
  }
  
  .form-ficha {
    position: relative;
    overflow-y: auto;
    width: 100%;
    background:#252525;
    padding: 3.1em;
    margin:1em;
    border-style: solid;
    border-color: #383851;
    border-width: 1px;
    border-radius: 5px;
   /* Box Shadow */
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
  }

  .conteudo-form {
    max-height: 85%;
    overflow-y: auto;
  }

  .corpo-form {
    margin-right: 15px;
  }

  .mesma-linha {
    display: flex;
  }

  .mesma-linha input {
    width: 160px;
  }

  #infos-importantes {
    width: 70%;
    height: 100%;
    text-align: justify;
  }

  #header {
    text-align: center;
  }

  #header p {
    margin: 0;
  }

  #infos-importantes p {
    color: #252525;
  }
  
  h1 {
    color: #f8f8f8;
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    margin: 20px 0;
  }

  .titulo-akatsuki {
    font-family: 'rubik';
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin: .1em;
    letter-spacing: -6px;
    color: black;
    text-transform: uppercase;
  }

  
  p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
      color: #d8d8d8;
      padding-bottom: 0.25em;
  }
  
  #title {
    padding-bottom: 0.2em;
    margin: 0;
  }
  
  #description {
    padding-top: 0.25em;
    margin-top: 0;
    
  }
  
  label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #c4c4c5;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
  }
  
  input, select, textarea {
    width: 100%; 
    border: 0;
    height: 2.25em;
    margin-top: 0.6em;
    margin-bottom: 1.6em;
    padding: 0 0.6em 0 0.6em;
  }
  
  
  .placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #5d646e;
  }
  

  textarea {
    height: 6em;
  }
  


  /* Style to offset for the extra padding */
  
  input, textarea {
     width: calc(100% - 1.2em);
    }
  
  hr {
    border: 0;
    height: 1px;
    background-color: #383851;
    margin: 1.1em 0 1em 0;
  }

mark {
  color: #f8f8f8;
  background-color: #912323;
}

#claKgCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444444;
  border-radius: 5px;
  padding: 10px;
}

#semCla {
  width: 2em;
  margin: 0;
}

#clasKgsDropdown {
  display:none;
}

.claskg-buttons::-webkit-scrollbar{
  background-color:  #585858;
  width: 3px;
}

.claskg-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #171717;
  height: 345px;
  overflow-y: auto;
  transition: all 1s;
}

.claskg-buttons.close {
  height: 0;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  max-width: 70px;
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 10px;
  background-color: #a8a8a8;
  border-radius: 5px;
  cursor: pointer;
}

[type=radio] + img:hover {
  background-color:#f1f1f1;
}

[type=radio]:checked + img {
  background-color:#ffffff;
  border-width: 1px;
  -webkit-box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
}

.logo-cla {
  position: flex;
  text-align: center;
}

.descricao-imagem {
  color: #fff;
  font-size: 16px;
  margin-top: -10px;
  padding: 0;
  font-family: 'rubik';
}

#switchClaKg {
  display: none;
  border: none;
  background-color: #171717;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  color: white;
  font-family: 'rubik';
  outline: none;
  float: right;
}


/*Qualidades e defeitos*/

.cla {
  display: none;
}

.secao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  transition: height 0.2s ease-out;
  max-height: 0;
}

.qualidades-defeitos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qualidades-defeitos button {
  margin: 3px;
  background-color: grey;
  font-size: 0.9em;
  padding: 9px;
  border-radius: 5px;
  border-style: none;
  color: #f8f8f8;
  outline: none;
}

.qualidades-defeitos button:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    filter: brightness(1.2);
}

.qualidade-escolhida {
  background-color:#c1242f!important;
}

.defeito-escolhido {
  background-color:#c1242f!important;
}

.sanfona {
  margin: 3px 0;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.sanfona-ativa, .sanfona:hover {
  background-color: #ccc;
}

.sanfona:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.sanfona-ativa:after {
  content: "\2212";
}

/* databook */
#atributos {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.linhas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.atributo {
  display:flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
}

.atributo input {
  width: 60px;
}


/*Qualidades Clã*/

#qualidadesHatake {
  display: none;
}

  
/*Passos do formulário*/


/* Destacar os campos que não foram preenchidos/não foram preenchidos automaticamente: */
input.invalido {
  background-color: #ffdddd;
}

/* Esconder tudo desde o princípio: */
.tab {
  display: none;
  margin-right: 15px;
}

.tipTabs {
  display: none;
  margin-right: 10px;
}

/* Cícrulos do indicador de passos: */
.circulo {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Destacar o círculo do passo atual: */
.circulo.ativo {
  opacity: 1;
}

/* Destacar todos os passos feitos: */
.circulo.finalizado {
  background-color: #912323;
}


/* Navegação */
.button {
  border: 2px solid #c1242f;
  background-color: transparent;
  outline:0;
  transition: background-color 0.3s ease;
  color: #fff;

}

.button:hover {
  background-color:#c1242f;
}


#botoes-navegacao {
  position: absolute;
  bottom: 45px;
  right: 50px;
}

#circulos-navegacao {
  position: absolute;
  bottom: 45px;
}

  
/*dicas*/
#dicas {
  max-height: 80%;
  overflow-y: auto;
  margin: 0 2em;
  justify-content: center;
}


.subtitulo {
  font-family: 'rubik';
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: .1em;
  color: black;
  text-transform: uppercase;
}

.branco {
  color: #f8f8f8;
}


#segundaDica img {
  border: 7px solid #c1242f;
  max-width: 100px;
  max-height: 100px;
}

.hidden-arquetipo{
  display: none;
  font-size: 0.9em;
}

.hidden-arquetipo p{
  margin-left: 10px;
}

#fim {
  display: none;

}


/* Barra de Scroll */
::-webkit-scrollbar {
  background-color:  #d6d6d6;
  height: 15px;
  border: px solid #555;
  width: 9px;
  opacity: 0.5;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #c1242f;
  width: 7px;
  border: px solid #555;
  opacity: 1;
  transition: 0.5s;
  }

  .pontoBonus {
    position: absolute;
    display: none;
    top: 17px;
    left: 65px;
    height: 25px;
    width: 25px;
    background-color: #c1242f;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
  }

  .atributo {
    position: relative;
  }

  #naturezas {
    display: flex;
    justify-content: space-around;
  }

  .natureza {
    width: 50%;
    margin: 5px;
    text-align: center;
  }


  #armas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
  }

  .arma {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
    background-color: #efefef;
    width: 170px;
    height: fit-content; 
    border-radius:5px;
    align-items: center;
  }

  .arma p {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 14px;
    font-family: 'Rubik';
    text-transform: uppercase;
    text-align: right;
  }

  .arma button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: none;
    background-color: #c1242f;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 10px;
    font-family: 'Rubik';
    font-weight: 800;
    color: white;
    transition: .2s;
    outline: none;
  }

  .arma button:hover {
    background-color: #911a22;
  }

  .peso, .quantidade {
    display: none;
  }

  #bolsa-de-armas {
    margin:0;
    resize: none;
    height: 140px;
  }

  #bolsa-de-armas:disabled {
    background-color: white;
  }

.natureza .placeholder {
  font-size: 0.84em;
  background-color: white;
}

#limite-jutsus {
  height: 80px;
  resize: none;
}

select.error, textarea.error, input.error {
  background-color:rgb(255, 176, 176);
}

.next {
  right: 50px;
}

.prev {
  left: 50px;
}

.round:hover {
  background-color: #991b23;
}

.round {
  background-color: #c1242f;
  color: white;
  position: absolute;
  bottom: 50px;
  border-style: none;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
}

.saveAll {
  font-size: 10px;
}

#limite-jutsus:disabled {
  background-color: white;
}

.input-number-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
}

.atributo button {
  display: none!important;
  outline: none;
  border-style: none;
}

.increase {
  border-radius: 0 1px 1px 0;
}

.decrease {
  border-radius:1px 0 0 1px;
}

#fim {
  max-height: 80%;
  max-width: 80%;
  overflow-y: auto;
}

.copiado {
  background-color: #c1242f70;
}

#codigo-ficha:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  #formContainer {
    min-width: 500px;
    width: 500px;
  }
  .form-ficha {
    padding: 1.8em;
  }
  .round {
    bottom: 30px;
  }

  .mesma-linha input {
    width: 160px;
  }

  .titulo-akatsuki {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .titulo-akatsuki {
    font-size: 38px;
  }
  p {
    font-size: 1em;
  }
  .subtitulo {
    font-size: 19px;
  }
}

@media only screen and (max-width: 768px) {
  #formContainer {
    min-width: 400px;
  }
  .form-ficha {
    padding: 1em;
  }
  label {
    font-size: 0.7em;
  }
  h1 {
    font-size: 1.5em;
  }
  .titulo-akatsuki {
    font-size: 40px;
  }
  .subtitulo {
    font-size: 13px;
  }
  .placeholder {
    font-size: 0.7em;
  }
  .mesma-linha input {
    width: 110px;
  }
  p {
    font-size: 0.8em;
  }
  .atributo input {
    width: 30px;
  }
  .natureza {
    width: 25%;
  }
  .arma {
    width: 119px;
  }
  .arma p {
    font-size:9px;
  }
  .round {
    bottom: 20px;
    width: 40px;
    height: 40px;
  }

  .input-number-wrapper button {
    display: block!important;
  }

  .atributo input {
    margin: 0;
    border-radius: 0;
  }

  .atributo button {
    height: 23px;
    width: 10px;
  }
}

@media only screen and (max-width: 700px) and (min-width: 426px) {
  #infos-importantes {
    display: none!important;
  }
}

@media only screen and (max-width: 425px) {
  #infos-importantes {
    display: none!important;
  }
  #formContainer {
    width:  100%;
    height: 100%;
  }
  .mesma-linha input {
    width: 150px;
  }
}

@media only screen and (max-width: 375px) {
  #formContainer{
    min-width: 375px;
  }
  .mesma-linha input {
    width:140px;
  }
  .atributo input {
    width: 25px;
  }
}

@media only screen and (max-width: 320px) {
  #formContainer{
    min-width: 320px;
  }
  .mesma-linha input {
    width:100px;
  }
  .atributo input {
    width: 10px;
  }
  #atributos label {
    font-size: 0.6em;
  }
  #limite-jutsus {
    height: 43px;
  }
}


.atributo input[type=number]::-webkit-inner-spin-button {
  width: 20px;
  height: 20px;
}